<div class="menubar">
      <img src="../assets/images/menu.png" class="menuicon" (click)="drawer.toggle()" />
</div>
<div class="sidebar">
  <span>
    <img src="../assets/images/home-icon-silhouette.png" class="menuicon" />
  </span>
  <span>
    <img src="../assets/images/garbage-can.png" class="menuicon"  />
  </span>
</div>  

  
<mat-drawer-container class="example-container drawerleft" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="mtop23">
        <p class="leftmenu" >Home</p>
        <p class="leftmenu" style="background:red">Trash</p>
      </div>
       
    </mat-drawer>
    <div>
      <router-outlet></router-outlet>
    </div>   
  
  </mat-drawer-container>


